<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS 3</title>

    <style>
		.grid {
			align-items: center;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			justify-content: center;
			justify-items: center;
		}
    </style>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("header") %>

    <main id="list" class="grid">

    </main>
    
    <%- include("footer") %>

    <script src="/js/list.js"></script>
</body>
</html>


