<footer>

    <p><small>Merci à <a href="https://pokeapi.co" title="Lien vers Pokéapi">Pokéapi</a> et à <a href="https://www.dafont.com/pokemon.font" title="Lien vers Dafont">dafont.com</a> d'avoir rendu possible la création de ce site.</small></p>
    <p><small>Octobre 2020.</small></p>

</footer>