<header class="row">

    <a href="/" title="Accueil">
        <img src="/img/pokeball-wikipedia.png" alt="pokéball" class="pokeball spin">
    </a>
    <h2>Mon super pokédex</h2>

    <div></div>
</header>