<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS 3</title>

    <style>
      .flex {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .grid {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        justify-items: center;
      }
    </style>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("header") %>

    <main id="list" class="grid"></main>

    <div class="flex">
      <button id="left"><==</button>
      <button id="right">==></button>
    </div>
    
    <%- include("footer") %>

    <script src="/js/list.js"></script>
    <script src="/js/events.js"></script>
</body>
</html>


