<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex - Liste</title>

    <style>

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="container">
	<%- include("header") %>
	
	<nav class="nav-flex">
        
        <form name="form-search-data" id="form-search-data" method="GET" action="#" class="nav-flex">
            <input type="text">
            <button type="submit" class="btn btn-secondary">Rechercher</button>
        </form>

        <div class="nav-flex width">
            <button id="left" class="btn btn-secondary" id="left">⬅</button>

            <div class="dropdown">
                <button class="btn btn-danger" id="info">info</button>
                <div class="dropdown-content">
                    <!-- content injected here -->
                </div>
            </div>

            <button id="right" class="btn btn-secondary" id="right">➡</button>
        </div>

	</nav>

    <main id="list" class="grid-index grid-4"></main>
    
    <%- include("footer") %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="/js/pokemon-species.js"></script>
    <script src="/js/list.js"></script>
    <!-- <script src="/js/all-pokemons.js"></script> -->
    <script src="/js/individual.js"></script>
    <script src="/js/events.js"></script>
</body>
</html>


