<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiche du pokémon</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<h1>Fiche du pokémon</h1>

    <%- include("header") %>

    <main>

    </main>

    <%- include("footer") %>

    <script src="/js/individual.js"></script>

</body>
</html>