body {
    background-color: aliceblue;
}
figure {
    border: 2px solid black;
}
footer, header {
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50px;
    padding: 5px;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 175px;
}
.center {

    /* flex */
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.database {
    background-color: lightgrey;
    /* color: white; */
    margin: 5px;
    padding: 5px;
}
.database-name {
    font-size: 1.2em;
    text-align: center;
}
figure, .images {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}
.flex-buttons {
    padding: 50px;

    /* flex */
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.grid {
    align-items: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
}
.image-pokemon {
    height: 96px;
    width: 96px;
}
/*MEDIA QUERIES*/
@media screen and (max-width: 499px) {
    body {
        font-size: 0.8em;         
    }
    .grid {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
}
@media screen and (min-width: 501px) and (max-width: 960px) {
    body {
        font-size: 1.1em;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 961px) and (max-width: 1100px) {
    body {
        font-size: 1.2em;
    }
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1100px) {
    body {
        font-size: 1.3em;
    }
}