/* SPÉCIAL */

@font-face {
    font-family: pokemon;
    src: url(/fonts/pokemon_solid-webfont.woff2);
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(500deg);}
}
dd, dl, dt {
    padding: 0;
    margin: 0;
}

/* RESTE */

body {
    background-color: aliceblue;
    transition: all 0.5s ease;
}
figure {
    border: 2px solid black;
}
figure, .images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}
footer, header {
    /* border: 2px solid black;
    border-radius: 15px; */
    min-height: 50px;
    padding: 15px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
h2 {
    font-family: pokemon, serif;
}
input[type=number] {
    width: 70px;
}
nav {
    padding: 50px;
}
.card-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 175px;
}
.center {
    /* flex */
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.database {
    background-color: lightgrey;
    /* color: white; */
    margin: 5px;
    padding: 5px;
}
.database-name {
    font-size: 1.2em;
    text-align: center;
}
.grid-index {
    display: grid;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
}
.grid-main-one-pokemon {
    display: grid;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
}
.grid-secondary-one-pokemon {
    display: grid;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.grid-2 {
    grid-template-columns: 1fr 1fr;
}
.grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-left-side {
    grid-column-gap: 40px;
    grid-row-gap: 0;
    justify-items: start;
}
.image-pokemon {
    height: 96px;
    width: 96px;
}
.one-pokemon {
    padding: 40px;
    width: 100%;
}
.nav-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 20px;
}
.pokeball {
    height: 70px;
    transform: rotate(500deg);
    width: 70px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.spin {
    animation-duration: 2s;
    animation-name: spin;
}
.pokemon-description-bottom {
    background-color: white;
    padding: 20px 0 20px 0;
}
.width {
    padding: 0 20px 0 20px;
    width: 400px;
}

/* w3school - menu select */

.dropbtn {
    /* background-color: #4CAF50; */
    /* color: white; */
    padding: 0.6em;
    /* font-size: 16px; */
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    /* mes modifs à moi */
    height: 200px;
    overflow-x: scroll;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */

/*MEDIA QUERIES*/
@media screen and (max-width: 499px) {
    body, h2 {
        font-size: 1em;         
    }
    /* grille devient du flex */
    .grid-index {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    /* grille devient du flex */
    .grid-main-one-pokemon {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: left;
        justify-items: center;
    }
}
@media screen and (min-width: 501px) and (max-width: 960px) {
    body, h2 {
        font-size: 1.1em;
    }
    .grid-index {
        grid-template-columns: 1fr 1fr;
    }
    /* grille devient du flex */
    .grid-main-one-pokemon {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: left;
        justify-items: center;
    }
}
@media screen and (min-width: 961px) and (max-width: 1100px) {
    body, h2 {
        font-size: 1.2em;
    }
    .grid-index {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1100px) {
    body, h2 {
        font-size: 1.3em;
    }
}