body {
    background-color: aliceblue;
}
figure {
    border: 2px solid black;
}
footer, header {
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50px;
    padding: 5px;
}
img {
    max-height: 50px;
    max-width: auto;
}
.database {
    background-color: lightgrey;
    /* color: white; */
    margin: 5px;
    padding: 5px;
}
.database-name {
    font-size: 1.2em;
    text-align: center;
}
figure, .images {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}